#=============#
# ENVIRONMENT #
#=============#
.venv
.env

#=================#
# TEMPORARY FILES #
#=================#
*temp*
__pycache__

#================#
# TEST DIRECTORY #
#================#
test/